.menu-container {
  position: relative;
}

.menu-options-container {
  position: absolute;
  background-color: var(--background-color);
  z-index: var(--menu-z-index);
  animation: appear 0.25s;
  right: 0;
}

@keyframes appear {
  from {
    transform: scale(0);
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform: translateY(0%);
    opacity: 1;
  }
}
